@page "/"

<DisplayHeading Style="text-align: center; margin-bottom: 2rem;" Size="DisplayHeadingSize.Is1">Hello,<br /> welcome to our pizza store!</DisplayHeading>

<Heading Size="HeadingSize.Is4" Style="margin-bottom: 5rem;">Choose your favorite pizza and we will make one for you</Heading>

<Button Color="Color.Dark" Type="ButtonType.Link" Outline="true" To="/menu">
    <DisplayHeading Size="DisplayHeadingSize.Is3">Go to menu</DisplayHeading>
</Button>